.colonna-3{
    width: 75%;
    float: left;
}

.colonna-2{
    width: 50%;
    float: left;
}

.colonna-1{
    width: 25%;
    float: left;
}

button.bottone-calc{
    width: 100%;
    height: 100px;
    border: 2px solid blue;
    background: bisque;
    font-size: 32px;
    color: black;
}

input.risultato{
    height: 100px;
    width: auto;
    border: none;
    text-align: right;
    font-size: 32px;
    position: relative;
    max-width: 100cw;
    margin-right: 50px;
    float: right;
}

.memorizza-valore{
    position: absolute;
    right: 50px;
    z-index: 99;
    top: 10px;
    color: darkgreen;
}